<%= form_for([@picture, @comment], :remote => true, :html => {"data-type" => :json}) do |f| %>
  <% if @comment.errors.any? %>

  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descr %><br />
    <%= f.text_area :descr %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
