<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Descr:</b>
  <%= @comment.descr %>
</p>

<p>
  <b>Picture:</b>
  <%= @comment.picture %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
