<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Descr:</b>
  <%= @picture.descr %>
  <b>Image:</b>
  <%= image_tag @picture.image.url(:medium) %>
</p>

<div class="comments">
<%= link_to 'Show comments', picture_comments_path(@picture), :remote => true, "data-type" => :html, class: 'show_comments'%>
</div>

<%= render partial: 'comments/form'%>

<%= link_to 'Back', pictures_path %>
